.navbar {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    background-color: black;
    color: whitesmoke;
}

.video-screen {
    height: 300px;
    line-height: 300px;
    text-align: center;
    background-color: gray;
}

.content-section {
    display: flex;
    flex-direction: column;
}

.video-info {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
}

.tag-box {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.tag {
    padding: 4px 10px;
    color: aqua;
}

.title-box {
    display: flex;
    justify-content: space-between;
}

.button-bar {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.publisher-profile {
    display: flex;
    justify-content: space-between;
}

.profile {
    display: flex;
}

.next-videos {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
}